body {
  background-color: #E5E5E5;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

h1, h2 {
  color: #FFFFFF;
}

.page-wrapper {
  background-color: #EEEEEE;
  width: 1200px;
  margin: 0 auto;
}

.header-section {
  background-image: url("../assets/desktop_background_1.jpg");
  background-repeat: no-repeat;
  padding: 252px 0;
  text-align: center;
}

.header-section h1 {
  margin: 13px auto;
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 133%;
}

.header-section-wrapper h2 {
  opacity: 0.7;
  font-weight: normal;
  line-height: 133%;
}

.main-section {
  height: 700px;
  text-align: center;
}

.main-section-wrapper {
  padding: 87px 97px;
}

.main-section h2 {
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
  color: #464547;
  margin: 0;
}

.main-section h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #666666;
}

.main-section div div{
  font-size: 16px;
  line-height: 137%;
  color: #000000;
}

.main-section button {
  width: 115px;
  height: 36px;
  margin: 26px;
  background-color: #55C2D8;
  border-radius: 18px;
  border: none;
  font-family: Oswald, "Arial Black", sans-serif;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
}

.culture-section {
  height: 666px;
  background-image: url("../assets/desktop_background_2.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.culture-section > div {
  background-color: rgba(140, 79, 42, 0.3);
  width: 100%;
  height: 100%;
}

.culture-section-wrapper {
  padding: 85px 360px;
  text-align: center;
}

.culture-section-wrapper h2 {
  margin: 0;
  font-family: Oswald, Arial, sans-serif;
  font-size: 48px;
  line-height: 64px;
}

.culture-section button {
  width: 150px;
  height: 150px;
  margin: 40px;
  background: #39C2D7;
  border-radius: 50%;
  border: none;
  color: #FFFFFF;
  text-align: center;
}

.culture-section button img {
  margin-left: 10px;
  margin-top: 5px;
}

.culture-section h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer {
  height: 170px;
  bottom: 0;
  background: #464547;
}

.footer-logo {
  width: 128px;
  height: 20px;
  padding-left: 145px;
  padding-top: 19px;
  padding-right: 927px;
  font-style: normal;
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-address {
  width: 174px;
  height: 33px;
  margin: 14px 140px;
  font-style: normal;
  color: #FFFFFF;
  opacity: 40%;
}

.footer-address a {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  margin: 28px 140px;
  color: #FFFFFF;
  opacity: 40%;
}
